# Naive Bayes Classification

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [2]:
dataset = pd.read_csv('https://raw.githubusercontent.com/mk-gurucharan/Classification/master/IrisDataset.csv')
X = dataset.iloc[:,:4].values
y = dataset['species'].values

dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Splitting the dataset into the Training set and Test set

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

## Feature Scaling

In [4]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Training the Naive Bayes Classification model on the Training Set

In [5]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

## Predicting the Test Set Results

In [6]:
y_pred = classifier.predict(X_test)
y_pred

array(['setosa', 'setosa', 'virginica', 'versicolor', 'setosa', 'setosa',
       'virginica', 'virginica', 'virginica', 'versicolor', 'setosa',
       'setosa', 'virginica', 'setosa', 'setosa', 'virginica',
       'versicolor', 'setosa', 'setosa', 'setosa', 'versicolor',
       'virginica', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'virginica', 'setosa', 'versicolor', 'versicolor'], dtype='<U10')

## Confusion Matrix and Accuracy

In [7]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9666666666666667

array([[14,  0,  0],
       [ 0,  7,  0],
       [ 0,  1,  8]])

## Comparing the Real Values with Predicted Values

In [8]:
df = pd.DataFrame({'Real Values':y_test.reshape(-1), 'Predicted Values':y_pred.reshape(-1)})
df

   Real Values Predicted Values
0       setosa           setosa
1       setosa           setosa
2    virginica        virginica
3   versicolor       versicolor
4       setosa           setosa
5       setosa           setosa
6    virginica        virginica
7    virginica        virginica
8    virginica        virginica
9   versicolor       versicolor
10      setosa           setosa
11      setosa           setosa
12   virginica        virginica
13      setosa           setosa
14      setosa           setosa
15   virginica        virginica
16  versicolor       versicolor
17      setosa           setosa
18      setosa           setosa
19      setosa           setosa
20   virginica       versicolor
21   virginica        virginica
22      setosa           setosa
23      setosa           setosa
24  versicolor       versicolor
25  versicolor       versicolor
26   virginica        virginica
27      setosa           setosa
28  versicolor       versicolor
29  versicolor       versicolor